<header>
    <nav>
        <a href="/">UJQ</a>
        <ul>
            <li><a href="/authors">Authors</a></li>
            <li><a href="/authors/new">Add Authors</a></li>
            <li><a href="/books">Books</a></li>
            <li><a href="/books/new">Add Books</a></li>
            <li><a href="/documents">Documents</a></li>
            <li><a href="/documents/new">Add Documents</a></li>
            <li><a href="/officers">Officers</a></li>
            <li><a href="/officers/new">Add Officers</a></li>
        </ul>
    </nav>
</header>